/********common*********/
.inner{max-width:1200px; height:auto; margin:0 auto;}
.inner::after{content:''; display:block; clear:both;}
img[src$=".gif"], 
img[src$=".png"]{
image-rendering: -moz-crisp-edges; /* Firefox */ 
image-rendering:-o-crisp-edges;/* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */ 
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
/********header*********/
#gnbmenu{width:100%; line-height:40px; height:40px;}
#gnbmenu .inner > ul > li{float:left; position:relative; margin:0 8px;}
#gnbmenu .inner > ul > li::after{content: ''; position: absolute; top: 15px; right: -8px; width: 1px; height: 10px; background: #555555;}
#gnbmenu .inner > ul > li:last-child::after{display:none;}
#gnbmenu .inner > ul > li > a,
#gnbmenu button{color:#515151; font-size:12px; font-weight:500;}
#gnbmenu .inner > ul > li.select_area button{height:26px; line-height:26px; text-align:left; padding-left:6px; position: relative; background:#fff; border:1px solid #cfcfcf; font-weight: 600;}
#gnbmenu .inner > ul > li.select_area button::after{content:''; position: absolute; top: 6px; right: 8px; width: 8px; height: 8px; border: 2px solid; border-color: transparent transparent #555555 #555555; transform: rotate(-45deg);}
#gnbmenu .inner > ul > li.select_area.active button::after{top:11px;transform: rotate(-225deg);}
#gnbmenu .inner > ul > li.select_area ul{position: absolute; top: 31px; background:#fff; border: 1px solid #cfcfcf; text-align:center; z-index: 12;}
#gnbmenu .inner > ul > li.select_area ul > li:hover{background:#dedede; cursor: pointer;}
/********left_gnb*********/
#gnbmenu .inner .left_gnb{float: left;}
#gnbmenu .inner .left_gnb > li:first-child{margin-left:0;}
#gnbmenu .left_gnb .travelbtn{width:92px;}
#gnbmenu .inner > ul > li.select_area .planeline{width:92px; display:none;}
#gnbmenu .inner > ul > li.select_area.active .planeline{display:block;}
.planeline li{line-height:24px;}
/********right_gnb*********/
#gnbmenu .inner .right_gnb{float:right;}
#gnbmenu .right_gnb .langset{width:90px;}
#gnbmenu .inner > ul > li.select_area .lang_content{width:90px; display:none;}
#gnbmenu .inner > ul > li.select_area.active .lang_content{display:block;}
#gnbmenu .inner .right_gnb > li:last-child input{position: relative; width:20px; height:26px; border-bottom:0px; transition:width 1s;}
#gnbmenu .inner .right_gnb > li:last-child input.search_on{width:110px; border-bottom:2px solid #515151;}
#gnbmenu .inner .right_gnb > li:last-child button{position:absolute; top:9px; right:0; width:20px; height:28px; background:url(../img/icon.png); background-position-y:-90px; font-size:0;}
#gnbmenu .inner .right_gnb > li:last-child{margin-right:0;}
/********#mainmenu*********/
.logo .mobile_menu,
.menu_list .mobile_close,
.menu_list .search,
.menu_list .login_menu{display:none;}/*모바일에 보여짐*/
#mainmenu.fixed{position: fixed; left: 0; top: 0; width: 100%; z-index:8; box-shadow:0px 0px 1px rgba(0,0,0,0.8)}
#mainmenu{position: absolute; top:40px; background:#fff; width:100%; height:82px; transition:height 0.4s; z-index:8;}
#mainmenu .inner .logo{float:left; width:20%;}
#mainmenu .logo h1 a{display:block; width:220px; height:43px; margin-top:16px; font-size:0px; background-image:url(../img/icon.png); background-position-x:0;}
#mainmenu .inner .menu_list{float:right;}
.menu_list > ul{line-height: 82px; padding: 0;text-align:center;}
.menu_list > ul > li{cursor:pointer; float:left; padding:0 36px; font-size:18px;}
.menu_list > ul > li:last-child{padding-right:0;}
.menu_list > ul > li > a::after{position: relative; top:-5px; z-index:3; display:block; content:''; border-bottom:5px solid #f15a23; transform: scaleX(0); transition: transform 250ms ease-in-out;}
.menu_list > ul > li:hover a::after{transform: scaleX(1);}
.menu_list > ul > li > a{ color:#515151; font-weight:bold;}
.menu_list > ul > li:hover > a{color:#f15a23;}
.menu_list > ul > li > .submenu_box{display:none; position:absolute; top:82px; left:0; width:100%; background:#fff; border-top:1px solid #bfbfbf; box-shadow: 0 5px 6px 0px rgb(179,179,179,.5);}
.menu_list > ul > li > .submenu_box.on{display:block;}
.menu_list > ul > li > .submenu_box > ul{max-width: 1200px; margin: 20px auto; line-height:20px; display:flex;}
.menu_list > ul > li > .submenu_box.small_box > ul{max-width:800px;}
.menu_list > ul > li > .submenu_box.small_box1 > ul{max-width:600px;}
.menu_list > ul > li > .submenu_box ul > li{flex:1; text-align:left; padding-left:20px; border-left:1px solid #bfbfbf;}
.menu_list > ul > li > .submenu_box ul > li > a{font-size:16px; color:#515151; font-weight:bold;}
.menu_list > ul > li:nth-child(4) > .submenu_box > ul > li > a{display:block; margin-bottom:20px;}
.menu_list > ul > li > .submenu_box .small_submenu{display:block; margin-top:20px;}
.menu_list > ul > li > .submenu_box .small_submenu > li{line-height:26px; padding-left:0; border-left:0;}
.menu_list > ul > li > .submenu_box .small_submenu > li > a{font-size:14px; font-weight:500;}
/********section********/
section{display:block; margin-bottom:20px; padding-top:82px;}
section h3{font-size:22px; color:#616161; text-align:center; margin:20px 0;}
/********footer********/
footer{background:#eee;}
footer ul > li{display:inline-block; position: relative; margin:0 6px;}
footer ul > li::after{content: ''; position: absolute; top: 5px; right: -9px; width: 1px; height: 10px; background: #555555;}
.footerlogo .inner .logo_bottom ul > li::after, .info_left > ul > li::after{top:2px;}
footer ul > li:last-child::after{display:none;}
footer ul > li:first-child{margin-left:0;}
footer .footerlogo{padding: 18px 0;}
.footerlogo .inner div{display:block;}
.footerlogo .inner .logo_top h3, 
.footerlogo .inner .logo_top div{display:inline-block;} 
.footerlogo .inner .logo_top h3{width:12%; float:left; margin-top:1em;}
.footerlogo .inner .logo_top h3 a{display:block; width:90px; height:16px; background:url(../img/icon.png) -59px -124px; font-size:0;}
.logo_top .company_menu{width:60%;}
.logo_top .company_menu > ul{margin-bottom:9px;}
.logo_top .company_menu > ul > li{line-height: 20px;}
.logo_top .company_menu > ul > li a{font-size:13px; color:#333; font-weight:300;}
.logo_top .company_menu > ul > li:nth-child(6) a{font-weight:500;}
.logo_top .family_site{width:20%;  float:right;}
.logo_top .family_site > a{position: relative; top:-10px; display:inline-block; width:62px; height:19px; line-height:11px; font-size:0; background:url(../img/icon.png); background-position:-59px -144px;}
.logo_top .family_site .android{background-position-x:-121px;}
.logo_top .family_site .btn_site{position: relative; right:-2px;}
.logo_top .family_site .btn_site > button{width:110px; height:28px; text-align:left; padding-left:10px; background:#fff; border:1px solid #cfcfcf;}
.logo_top .family_site .btn_site > button::after{content: ''; position: absolute; top: 4px; right: 8px; width: 8px; height: 8px; border: 2px solid; border-color: transparent transparent #555555 #555555; transform: rotate(-45deg);}
.logo_top .family_site .btn_site > ul{position: absolute; bottom:22px; right:0; width:110px; background:#fff; border: 1px solid #cfcfcf; display:none;}
.logo_top .family_site .btn_site.active > ul{display:block;}
.logo_top .family_site .btn_site.active > button::after{top:8px; transform: rotate(-225deg);}
.logo_top .family_site .btn_site > ul > li {display:block; border-left:none; padding:0 10px; margin:0; line-height:26px;}
.logo_top .family_site .btn_site > ul > li::after{display:none;}
.logo_top .family_site .btn_site > ul > li:hover{background:#dedede;}
.logo_top .family_site .btn_site > ul > li:nth-child(4){letter-spacing: -2px;}
.logo_top .family_site .btn_site > ul > li > a{font-size:12px; background:none; color:#515151; text-align:left; font-weight:400;}
.footerlogo .inner .logo_bottom{margin:20px 0 0 12%; width:88%; font-size:13px;}
.footerlogo .inner .logo_bottom h4{color:#666; font-weight:600; margin-bottom:10px;}
.footerinfo {width:100%; border-top:1px solid #cfcfcf; padding:20px 0;}
.footerinfo .inner p{margin-top:10px;}
.info_left{float:left; width:80%; font-size:13px; color:#666; font-weight:300;}
.info_right{float:right; width:20%; text-align:right;}
.info_right > a{display:inline-block; width:100%; max-width:159px; height:46px; font-size:0; line-height: 46px; background:url(../img/icon.png); background-position-y:-43px;}
@media screen and (max-width:1024px){
.inner {max-width:100%; margin:0 20px;}
.menu_list > ul > li {padding:0 18px;}
.menu_list > ul > li > .submenu_box > ul{max-width: 1000px;}
/********footer*********/
.logo_top .family_site {width:25%;}
.logo_top .family_site .btn_site{position: relative; right: -7px;}
.info_left {width:82%;}
.info_right{width:18%;}
}
@media screen and (max-width:768px){
/********#gnbmenu*********/
#gnbmenu{border-bottom:1px solid #ddd;}
#gnbmenu .inner .right_gnb>li,
#gnbmenu .inner .right_gnb>li.select_area::after{display:none}
#gnbmenu .inner .right_gnb>li.select_area{display:block; margin:0;}
#gnbmenu .right_gnb .langset{top: -1px;}
/*********#mainmenu*********/
#mainmenu{position: absolute; top:40px; height:62px;}
#mainmenu .inner .logo{position:relative; width: 100%;}
#mainmenu .inner .logo h1{margin-top: 17px;}
#mainmenu .logo h1 a{width:159px; height:31px; margin-top: 12px; background-size:cover;}
.logo .mobile_menu{display:block; position: absolute; top: 9px; right: 0; font-size:0;}
.mobile_menu .menu_icon{display:inline-block; width:35px; height:40px; font-size:0px;}
.mobile_menu .menu_icon span{position: absolute; top:50%; transform:translate(0,-50%); border-radius: 50px; display:block; width:100%; height:4px; background:rgba(81,81,81,1);}
.mobile_menu .menu_icon span::before,
.mobile_menu .menu_icon span::after{content:''; position:absolute; left:0; top:0; width:100%; height:4px; background:rgba(81,81,81,1); border-radius: 50px;}
.mobile_menu .menu_icon span::before{top:-12px;}
.mobile_menu .menu_icon span::after{top:12px;}
#mainmenu .inner .menu_list{float:none; position:fixed; top:0; bottom:0; right:-100%; z-index:999; width:100%; height:100%; overflow-y:auto; background:rgba(0,0,0,0.8); transition:right 1s;}
#mainmenu .inner .menu_list.on{right:0;}
.menu_list > ul{position: absolute; top:0; bottom:0; right: 0; width: 80%; padding:0; height:100%; overflow-y: auto; text-align: left; padding-bottom: 15vh; background: #f15a23;}
.menu_list > ul > li{float: none; position: relative; display: block; padding:0; line-height:0px; overflow: hidden;}
.menu_list > ul > li > a{padding-left:20px; line-height:45px; font-size:16px; display:block;}
.menu_list > ul > li a, 
.menu_list > ul > li:hover a,
.menu_list > ul > li > .submenu_box ul > li > a,
.menu_list > ul > li > .submenu_box .small_submenu > li > a{color:#ebebeb; font-weight:400;}
.menu_list > ul > li > a::before{content:'+'; float:right; color:#ebebeb; font-size:20px; margin-right:20px;}
.menu_list > ul > .login_menu::before{display:none;}
.menu_list > ul > li.show > a::before{content:'−';font-size:20px;}
.menu_list > ul > li > a::after{display:none;}
.menu_list .mobile_close{display:block;position: absolute; top: 20px; left: 12%;}
.menu_list .mobile_close .close_icon{display:block; width:35px; height:35px; font-size:0px; transition: all 1s;}
.menu_list.on .close_icon{transform: rotate(180deg)}
.menu_list .mobile_close .close_icon span{position: absolute; top:60%; transform:rotate(45deg); border-radius: 50px; display:block; width:100%; height:5px; background:rgba(255,255,255,1);}
.menu_list .mobile_close .close_icon span::before{content:''; transform:rotate(-90deg); border-radius:50px; position:absolute; left:0; top:0; width:100%; height:5px; background:rgba(255,255,255,1);}
.menu_list > ul > .search,
.menu_list > ul > .login_menu{background:#d64e1d;}
.menu_list > ul > .search{display:block; padding:10px 20px 2px 20px;}
.menu_list > ul > .search::after{content:''; display:block; clear:both;}
.menu_list > ul > .search input{float:left; width:200px; height:32px; border:0; border-radius: 3px;}
.menu_list > ul > .search button{float:left; margin-left:6px; border-radius:3px; width:50px; height:32px; color:#515151; font-weight:600; background:#ebebeb;}
.menu_list > ul > .login_menu{display:block; padding:0 20px; line-height:62px;}
.menu_list > ul > .login_menu > ul > li{display:inline; margin-right:3px;}
.menu_list > ul > .login_menu > ul > li > a{border: 1px solid #ebebeb; padding: 2px 10px; font-size: 16px;}
.menu_list > ul > li > .submenu_box{position: relative; top:0; left:0; z-index:22; display:block; margin: 0; width:100%; background:#af441d; box-shadow: none; max-height:0; overflow:hidden; border-top:1px solid #ee8f6d; transition:max-height .4s;}
.menu_list > ul > li > .submenu_box.small_box > ul,
.menu_list > ul > li > .submenu_box.small_box1 > ul{width:100%;}
.menu_list > ul > li.show > .submenu_box{max-height:30em;}
.menu_list > ul > li.show > .submenu_box.submenu_h{max-height:60em;}
.menu_list > ul > li > .submenu_box > ul{display:block; margin:0 }
.menu_list > ul > li > .submenu_box > ul > li{border-left:0; line-height:46px; padding:0;}
.menu_list > ul > li > .submenu_box > ul > li > a{display:block;  color:#f0ab93; border-bottom:1px solid #ee8f6d; line-height:46px; padding-left:36px;}
.menu_list > ul > li:nth-child(4) > .submenu_box > ul > li > a{margin-bottom:0;}
.menu_list > ul > li > .submenu_box > ul > li:last-child > a{border-bottom:0;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico > a::before{content:'+'; float:right; font-size:18px; margin-right:20px;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico.select > a::before{content:'−'; font-size:18px;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico .small_submenu{margin:0 0 0 -36px; padding: 0 0 0 86px; max-height:0; overflow:hidden; transition:max-height .3s;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico .small_submenu > li:first-child{padding-top:5px;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico .small_submenu > li:last-child{padding-bottom:10px;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico .small_submenu > li > a{color:#ffbaa1;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico.select .small_submenu{max-height:14em; border-bottom:1px solid #ee8f6d;}
.menu_list > ul > li > .submenu_box ul > li > a{border-left:none;}
/********section********/
section{padding-top: 62px;}
/********footer********/
footer div, 
.info_right,
.logo_top .family_site{text-align:center;}
.footerlogo .inner .logo_top div, .footerlogo .inner .logo_bottom{display: block; width: 100%; margin: 0 auto; transition: width .5s;}
.footerlogo .inner .logo_top h3,.footerinfo div{width: 100%; float: none; display: block; margin: 0 0 15px 0;}
.footerlogo .inner .logo_top h3 > a{margin:0 auto;}
.logo_top .company_menu > ul{margin-bottom:5px;}
.logo_top .company_menu > ul:last-child{margin-bottom: 15px;}
.logo_top .family_site{margin-bottom:15px !important;}
footer ul > li{margin:6px;}
.footerinfo .inner, .info_right{margin-bottom:0 !important;}
@media screen and (max-width:480px){
.menu_list > ul > .search input{width: 185px;}
/********section********/
section h3{font-size:18px;}
/********footer********/
footer ul > li::after{top: 2px;}
.logo_top .company_menu > ul > li{line-height: 12px;}
}
@media screen and (max-width:414px){
.menu_list .mobile_close{left:10%;}
}
@media screen and (max-width:360px){
.menu_list .mobile_close{left:8%;}
.menu_list > ul > .search input{width: 166px;}
.menu_list > ul > .login_menu > ul > li > a{font-size: 14px;}
}
@media screen and (max-width:320px){
/********header*********/
header .inner{margin:0 10px;}
#gnbmenu .inner .left_gnb > li:first-child{margin-right:0;}
#gnbmenu .inner .left_gnb > li:first-child::after{display:none;}
#gnbmenu .right_gnb .langset{margin:0;}
/********mobile mainmenu********/
.menu_list > ul > li > a,
.menu_list > ul > li > .submenu_box ul > li > a{font-size:14px;}
.menu_list > ul > .search{padding: 10px 10px 2px 12px;}
.menu_list > ul > .search input{width: 132px;}
.menu_list > ul > .login_menu{padding:0 0 0 10px;}
.menu_list > ul > .login_menu > ul > li{margin-right:0;}
.menu_list > ul > .login_menu > ul > li > a{font-size: 13px; padding:2px 8px;}
.menu_list > ul > li > a::before,
.menu_list > ul > li.show > a::before{font-size: 16px;}
.menu_list > ul > li > .submenu_box > ul > li.small_ico > a::before,
.menu_list > ul > li > .submenu_box > ul > li.small_ico.select > a::before{font-size: 14px;}
/********footer********/
footer ul > li{margin:3px 5px;}
.footerlogo .inner{margin:0 10px!important;}
}