.wrap{
    width:1500px; 
    height:inherit; 
    margin:0 auto;
    }
    /*header*/
    #topMenu{
    width:100%; 
    height:80px; 
    font-size:16px;
    border-bottom:1px solid #f15a23;
    }
    .agency{
    float:left; 
    width:20%; 
    padding:25px 0;
    }
    .agency>li{display:inline;}
    .logo{
    float:left;
    width:60%; 
    padding:21px 0 19px 0;
    }
    .logo>a{
    display:block; 
    margin:0 auto; 
    width:220px; 
    height:41px; 
    font-size:0;
    background-image:url(../img/icon.png);
    background-position:0px 0px;
    cursor:pointer;
    }
    .agency>li:nth-child(2){padding-right:15px;}
    .agency a,.gnbMenu a{color:#f15a23;}
    .agency a:hover,.gnbMenu a:hover{
    text-decoration:none;
    font-weight:bold;
    }
    .gnbMenu{
    float:right; 
    width:20%; 
    text-align:right;
    padding: 25px 0;
    }
    .gnbMenu>ul{
    float:right;
    }
    .gnbMenu>ul>li{
    display:inline;
    }
    .gnbMenu>ul>li:first-child{
    padding-right:15px;
    border-right:1px solid #f15a23;
    }
    .gnbMenu>ul>li:nth-child(2){
    padding:0 12px;
    }
    .select{
    font-size:16px; 
    background: #fff; 
    border: 1px solid #f15a23;
    color: #f15a23;
    padding:6px 8px;
    }
    .select::after{
    content:'';
    width:10px;
    height:16px;
    float:right;
    margin-top:7px;
    margin-left:14px;
    background-image: url(../img/icon.png);
    background-position-x: -221px;
    }
    
    #mainMenu_bg{
    width:100%;
    /* height:60px; */
    background-color:#f15a23;
    }
    .mainMenu{
    display:inline-block;
    max-width:1500px;
    height:60px;
    margin-top:-8px;
    }
    .mainMenu>li{
    width:250px;
    height:inherit;
    float:left;
    text-align:center;
    }
    .mainMenu>li>a{
    height:60px;
    line-height:60px;
    font-size:21px;
    font-weight:400;
    color:#fff;
    }
    .mainMenu>li:hover{
    height:auto;
    border:1px solid #ab3b13;
    border-bottom:1px solid #eee;
    background-color:#eeeeee;
    color:#ab3b13;
    cursor:pointer;
    }
    .mainMenu>li:hover>a{
    color:#ab3b13;
    font-weight:600;
    }
    .mainMenu>li:hover .subMenu_box{
    display:flex;
    width:1500px;
    height:auto;
    background:#eeeeee;
    border: 1px solid #ab3b13;
    border-left:0;
    border-top:0;
    /* box-shadow:5px 5px 5px rgba(0,0,0,0.2) */
    }
    .subMenu_box{
     display:none;
    }
    .subMenu_box>li{
     flex:1;
     padding:20px 0;
     margin: 15px 0;
     border-right: 1px solid #d5d3d3;
    }
    .subMenu_box>li:last-child{border-right:none;}
    .subMenu_box>li>h3{padding-bottom:30px;}
    .subMenu_box>li>h3>a{
    font-size:18px;
    color:#696969;
    font-weight:700;   
    }
    .subMenu>li{
    padding-bottom:15px;
    }
    .subMenu>li>a{
    font-size: 16px;
    color: #999999;
    font-weight:600;
    }
    .subMenu>li>a:hover{
    color:#ab3b13;
    }
    #box-size2{width:1250px;}
    #box-size3{width:1000px;}
    #box-size4{width:800px;}
    #box-size5{width:500px;}
    #box-size5>li:last-child>h3{padding-bottom:20px;}
    #box-size6{width:250px;}
    .langSet {
    position: relative;
    display: inline-block;
    }
    
    .lang_content {
    display: none;
    position: absolute;
    right:0;
    background-color: #fafafa;
    border: 1px solid #f15a23;
    min-width: 90px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border-top:none;
    }
    .lang_content a{
    display: block;
    color:#f15a23;
    padding: 12px 10px;
    text-decoration: none;
    text-align:center;
    }
    .lang_content a:hover{
    font-weight:300;
    color:#ab3b13;
    background-color:#ddd;
    }
    .lang_sel:hover {background-color: #eee;}
    .show {display: block;}
    .traveldown {
    position: relative;
    display: inline-block;
    }
    .planeline_content{
    display: none;
    position: absolute;
    right:0;
    background-color: #fafafa;
    border: 1px solid #f15a23;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border-top:none;
    }
    .planeline_content a {
    display: block;
    padding: 12px 16px;
    color:#f15a23;
    text-align:center;
    }
    .planeline_content a:hover {background-color: #ddd;}
    .traveldown:hover .planeline_content {display: block;}
    .traveldown:hover .travelbtn{background-color: #fafafa;}
    .blind{display:none;}
    .nav_close{display:none;}
    /*main section*/
    .pic1 img{
        width:100%;
        height:auto;
    }
    @media screen and (max-width:1440px){
    .wrap{width:1280px; transition:width 0.5s;}
    .mainMenu{max-width:1280px; transition:width 0.5s;}
    .mainMenu>li {width: 213.3px;}
    #subMenu_box{width:1280px; transition:all 0.5s;}
    }
    @media screen and (max-width:1280px){
    /*header*/    
    .wrap{width:1020px; transition:width 0.5s;}
    .agency{width:25%;}
    .logo{width:50%;}
    .gnbMenu{width:25%;}
    .mainMenu{max-width:1020px; transition:width 0.5s;}
    .mainMenu>li {width: 170px;}
    #subMenu_box{width:1020px; transition:all 0.5s;}
    }
    @media screen and (max-width:1020px){
    .wrap{width:100%; margin:0;}
    .mainMenu{box-sizing:border-box;}
    }
    @media screen and (max-width:768px){
    .all_Menu{
    display:block;
    font-size:0;
    width:42px;
    height:29px;
    margin-left:15px;
    background-color:transparent;
    background-image: url(../img/icon.png);
    background-position: -159px -44px;
    }
    /* #nav_close{
     display:block;
     width:100px;
     height:50px;
     background:black;
    } */
    /* #mainMenu_bg{
    position:fixed; 
    top: 0px;
    left: -100%; 
    height:600px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    background:red;}
    #mainMenu_bg.right{
    top: 100px;
    left: 0%; 
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    } */
    /* #mainMenu_bg.left{
        left: -100%; 
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        } */
    /* #mainMenu_bg>.wrap{display:block; background:black; height:500px;} */
    /* .mainMenu>li{
    width:100%;
    height:inherit;
    text-align:center;
    transition: width 0.7s;
    } */
    .agency>li:nth-child(2),.travelbtn,.gnbMenu>ul>li{display:none;}
    .gnbMenu>ul>li:last-child{display:block;}
    .gnbMenu{padding:25px 15px 0 0;}
    .mainMenu{
    display:block;
    max-width:100%;
    height:100%;
    margin-top:-8px;
    }
    .mainMenu>li{
    clear:both;
    width:100%;
    height:inherit;
    float:none;
    text-align:center;
    }
    }
    @media screen and (max-width:640px){
    /*header*/    
    #topMenu{
    height:60px; 
    transition:height 0.5s;
    border-bottom:1px solid #f15a23;
    }
    .agency{padding: 15px 0;}
    .logo{padding:12px 0;}
    .logo>a{
    width:158px; 
    height:29px; 
    font-size:0;
    background-image:url(../img/icon.png);
    background-position:0 -43px;
    }
    .gnbMenu{padding-top:10px;}
    }
    @media screen and (max-width:360px){
    /*header*/
    #topMenu{height:50px;}
    .logo{padding:15px 0;}
    .logo>a{
    width:110px; 
    height:20px; 
    font-size:0;
    background-image:url(../img/icon.png);
    background-position:0 -73px;
    }
    .all_Menu{
    width:33px;
    height:23px;
    margin-left:10px;
    background-image: url(../img/icon.png);
    background-position: -112px -73px;
    }
    .select{
    font-size:14px;
    padding:3px 3px 0 3px;
    }
    .gnbMenu{padding:10px 10px 0 0;}
    .select::after{margin:5px 0 0 5px;}
    .lang_content{
    font-size:14px;
    min-width:65px;
    }
    .lang_content a{padding:5px 0;}
    }